.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
  }
  .grid-item {
    width: calc(800px / 16);
    height: calc(800px / 16);
    border: 1px solid black;
  }